a(href="").article-preview__item.df.fxdc.jcsb
  .df.fxdc
    .article-preview__img
      img(src="./assets/img/screen-15.webp", alt="")
    .article-preview__title Malesuada ornare dignissim neque convallis arcu id venenatis leo. 
    .article-preview__description Tortor aliquam rutrum pretium aliquam enim. Tellus vestibulum habitant augue vitae sed nibh dolor. Tellus vitae ut sem facilisis aliquam risus eget. Sed sed egestas nulla vel ...
  .article-preview__info
    .article-preview__views.article-preview__block
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M11.9996 14.4001C12.6361 14.4001 13.2466 14.1472 13.6967 13.6972C14.1468 13.2471 14.3996 12.6366 14.3996 12.0001C14.3996 11.3636 14.1468 10.7531 13.6967 10.303C13.2466 9.85295 12.6361 9.6001 11.9996 9.6001C11.3631 9.6001 10.7526 9.85295 10.3026 10.303C9.85247 10.7531 9.59961 11.3636 9.59961 12.0001C9.59961 12.6366 9.85247 13.2471 10.3026 13.6972C10.7526 14.1472 11.3631 14.4001 11.9996 14.4001Z" fill="#186DE4"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.548828 12.0001C2.07763 7.1317 6.62563 3.6001 11.9992 3.6001C17.3728 3.6001 21.9208 7.1317 23.4496 12.0001C21.9208 16.8685 17.3728 20.4001 11.9992 20.4001C6.62563 20.4001 2.07763 16.8685 0.548828 12.0001ZM16.7992 12.0001C16.7992 13.2731 16.2935 14.494 15.3933 15.3942C14.4932 16.2944 13.2723 16.8001 11.9992 16.8001C10.7262 16.8001 9.50529 16.2944 8.60511 15.3942C7.70494 14.494 7.19923 13.2731 7.19923 12.0001C7.19923 10.7271 7.70494 9.50616 8.60511 8.60598C9.50529 7.70581 10.7262 7.2001 11.9992 7.2001C13.2723 7.2001 14.4932 7.70581 15.3933 8.60598C16.2935 9.50616 16.7992 10.7271 16.7992 12.0001Z" fill="#186DE4"/></svg>
      span 89
    .article-preview__comments.article-preview__block
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0004 21.5999C14.5465 21.5999 16.9883 20.5885 18.7886 18.7881C20.589 16.9878 21.6004 14.546 21.6004 11.9999C21.6004 9.45382 20.589 7.01203 18.7886 5.21168C16.9883 3.41133 14.5465 2.3999 12.0004 2.3999C9.45431 2.3999 7.01252 3.41133 5.21217 5.21168C3.41182 7.01203 2.40039 9.45382 2.40039 11.9999C2.40039 14.546 3.41182 16.9878 5.21217 18.7881C7.01252 20.5885 9.45431 21.5999 12.0004 21.5999ZM8.40039 10.7999H6.00039V13.1999H8.40039V10.7999ZM18.0004 10.7999H15.6004V13.1999H18.0004V10.7999ZM10.8004 10.7999H13.2004V13.1999H10.8004V10.7999Z" fill="#186DE4"/>
      </svg>
      span 21