.doctors.container
  #doctors
  .title__row
    h2.title-h2 Наши врачи
    .slider-btn
      .slider-btn-prev.swiper-button-prev
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2485 6.35134C15.4735 6.57638 15.5999 6.88155 15.5999 7.19974C15.5999 7.51794 15.4735 7.82311 15.2485 8.04814L11.2969 11.9997L15.2485 15.9513C15.4671 16.1777 15.5881 16.4808 15.5853 16.7954C15.5826 17.1101 15.4564 17.411 15.2339 17.6335C15.0114 17.856 14.7105 17.9822 14.3958 17.985C14.0812 17.9877 13.7781 17.8667 13.5517 17.6481L8.75173 12.8481C8.52677 12.6231 8.40039 12.3179 8.40039 11.9997C8.40039 11.6815 8.52677 11.3764 8.75173 11.1513L13.5517 6.35134C13.7768 6.12638 14.0819 6 14.4001 6C14.7183 6 15.0235 6.12638 15.2485 6.35134Z" fill="currentColor" />
      </svg>
      .slider-btn-next.swiper-button-next
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.75173 17.6483C8.52677 17.4233 8.40039 17.1181 8.40039 16.7999C8.40039 16.4817 8.52677 16.1765 8.75173 15.9515L12.7033 11.9999L8.75173 8.0483C8.53314 7.82198 8.41219 7.51886 8.41493 7.20422C8.41766 6.88959 8.54386 6.58861 8.76635 6.36612C8.98884 6.14363 9.28982 6.01743 9.60445 6.01469C9.91909 6.01196 10.2222 6.13291 10.4485 6.3515L15.2485 11.1515C15.4735 11.3765 15.5999 11.6817 15.5999 11.9999C15.5999 12.3181 15.4735 12.6233 15.2485 12.8483L10.4485 17.6483C10.2235 17.8733 9.91833 17.9996 9.60013 17.9996C9.28194 17.9996 8.97677 17.8733 8.75173 17.6483Z" fill="currentColor"/>
      </svg>
  .doctors__slider.swiper
    .swiper-wrapper
      .swiper-slide.doctors__item
        .doctors__photo
          img(src="./assets/img/screen-1.webp", alt="")
        .doctors__name Поликарпов Александр Викторович
        .doctors__spec Психиатр-нарколог
        ul.doctors__info
          li.doctors__point стаж : 35 лет
          li.doctors__point врач высшей категории
          li.doctors__point отзывы: 19
        a(href="").btn.btn-secondary Подробнее
        a(href="").btn.btn-primary Записаться
      .swiper-slide.doctors__item
        .doctors__photo
          img(src="./assets/img/screen-1.webp", alt="")
        .doctors__name Поликарпов Александр Викторович
        .doctors__spec Психиатр-нарколог
        ul.doctors__info
          li.doctors__point стаж : 35 лет
          li.doctors__point врач высшей категории
          li.doctors__point отзывы: 19
        a(href="").btn.btn-secondary Подробнее
        a(href="").btn.btn-primary Записаться
      .swiper-slide.doctors__item
        .doctors__photo
          img(src="./assets/img/screen-1.webp", alt="")
        .doctors__name Поликарпов Александр Викторович
        .doctors__spec Психиатр-нарколог
        ul.doctors__info
          li.doctors__point стаж : 35 лет
          li.doctors__point врач высшей категории
          li.doctors__point отзывы: 19
        a(href="").btn.btn-secondary Подробнее
        a(href="").btn.btn-primary Записаться
      .swiper-slide.doctors__item
        .doctors__photo
          img(src="./assets/img/screen-1.webp", alt="")
        .doctors__name Поликарпов Александр Викторович
        .doctors__spec Психиатр-нарколог
        ul.doctors__info
          li.doctors__point стаж : 35 лет
          li.doctors__point врач высшей категории
          li.doctors__point отзывы: 19
        a(href="").btn.btn-secondary Подробнее
        a(href="").btn.btn-primary Записаться
      .swiper-slide.doctors__item
        .doctors__photo
          img(src="./assets/img/screen-1.webp", alt="")
        .doctors__name Поликарпов Александр Викторович
        .doctors__spec Психиатр-нарколог
        ul.doctors__info
          li.doctors__point стаж : 35 лет
          li.doctors__point врач высшей категории
          li.doctors__point отзывы: 19
        a(href="").btn.btn-secondary Подробнее
        a(href="").btn.btn-primary Записаться
