.isyourregion.hidden#isyourregion(data-days="7")
  .isyourregion__title Ваш регион Москва ?
  .isyourregion__btn
    .isyourregion__no.e_yourregion Нет, выбрать регион
    .isyourregion__yes.e_isyourregion_close Да
.yourregion.hidden#yourregion
  .yourregion__row
    .yourregion__title Выберите ваш город из списка
    .yourregion__close.overflow__box_close.e_yourregion_close
  .yourregion__search
  .yourregion__list