@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe/Circe-Regular.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe/Circe-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}