.screen-14.container
  .screen-14__row
    .screen-14__rating
      .screen-14__stars.stars
        span.star
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 32 29" fill="none">
          <path d="M16 0L19.5737 11.0812L31.2169 11.0557L21.7824 17.8788L25.4046 28.9443L16 22.08L6.59544 28.9443L10.2176 17.8788L0.783095 11.0557L12.4263 11.0812L16 0Z" fill="#F9AB36"/>
          </svg>
        span.star
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 32 29" fill="none">
          <path d="M16 0L19.5737 11.0812L31.2169 11.0557L21.7824 17.8788L25.4046 28.9443L16 22.08L6.59544 28.9443L10.2176 17.8788L0.783095 11.0557L12.4263 11.0812L16 0Z" fill="#F9AB36"/>
          </svg>
        span.star
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 32 29" fill="none">
          <path d="M16 0L19.5737 11.0812L31.2169 11.0557L21.7824 17.8788L25.4046 28.9443L16 22.08L6.59544 28.9443L10.2176 17.8788L0.783095 11.0557L12.4263 11.0812L16 0Z" fill="#F9AB36"/>
          </svg>
        span.star
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 32 29" fill="none">
          <path d="M16 0L19.5737 11.0812L31.2169 11.0557L21.7824 17.8788L25.4046 28.9443L16 22.08L6.59544 28.9443L10.2176 17.8788L0.783095 11.0557L12.4263 11.0812L16 0Z" fill="#F9AB36"/>
          </svg>
        span.star
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 32 29" fill="none">
            <path d="M16 0L19.5737 11.0812L31.2169 11.0557L21.7824 17.8788L25.4046 28.9443L16 22.08L6.59544 28.9443L10.2176 17.8788L0.783095 11.0557L12.4263 11.0812L16 0Z" fill="#E0E0E0"/>
          </svg>
      .screen-14__item Ваша оценка <span>“отлично”</span>
      .screen-14__item Рейтинг статьи <span>4.4/5</span>
      .screen-14__item оценок: <span>7</span>
    .screen-14__share
      a(href="").screen-14__link
        img(src="./assets/img/svg/vk.svg", alt="")
      a(href="").screen-14__link
        img(src="./assets/img/svg/facebook.svg", alt="")
      a(href="").screen-14__link
        img(src="./assets/img/svg/ok.svg", alt="")
      a(href="").screen-14__link
        img(src="./assets/img/svg/telegram.svg", alt="")
      a(href="").screen-14__link
        img(src="./assets/img/svg/whatsapp.svg", alt="")
  .screen-14__authors
    .screen-14__author
      .screen-14__photo
        img(src="./assets/img/screen-14.webp", alt="")
      .screen-14__info
        .screen-14__status Автор статьи
        .screen-14__name Иванов Иван Иванович
        .screen-14__about Кандидат наук
    .screen-14__author
      .screen-14__photo
        img(src="./assets/img/screen-14.webp", alt="")
      .screen-14__info
        .screen-14__status Автор статьи
        .screen-14__name Иванов Иван Иванович
        .screen-14__about Кандидат наук