.screen-15.container
  h2.title-h2 Похожие статьи
  .screen-15__row
    include ../..//blocks/article-preview
    include ../../blocks/article-preview
    include ../../blocks/article-preview
    include ../../blocks/article-preview
