.screen-12.container
  h1.title-h2 Алкоголизм
  .screen-12__row
    .screen-12__left
      p Алкоголизм — это психическая и физическая зависимость человека от приёма напитков, содержащих этанол.Алкогольная зависимость — самая распространённая разновидность расстройств, связанных с употреблением психоактивных веществ. По данным Всемирной организации здравоохранения, из-за злоупотребления алкоголем ежегодно во всём мире умирает 2,5 млн человек
      p Мужчины, как правило, пьют чаще и больше женщин, поэтому риск развития алкоголизма у них гораздо выше. ДНК мужчин устроено иначе, из-за чего способность мужского организма прикрывать неблагоприятные рецессивные признаки гораздо слабее чем у женщин.
    .screen-12__right
      img(src="./assets/img/screen-12.webp", alt="disease")
  .screen-12__info
    .screen-12__item
      img(src="./assets/img/svg/server.svg", alt="").screen-12__icon
      .screen-12__about
        .screen-12__title категория
        a(href="").screen-12__text Болезни опорно-двигательной системы и травмы
    .screen-12__item
      img(src="./assets/img/svg/book-open.svg", alt="").screen-12__icon
      .screen-12__about
        .screen-12__title классификация МКБ
        .screen-12__text М86.8
    .screen-12__item
      img(src="./assets/img/svg/clock.svg", alt="").screen-12__icon
      .screen-12__about
        .screen-12__title на чтение
        .screen-12__text.reading-time 7 минут
    .screen-12__item
      img(src="./assets/img/svg/calendar.svg", alt="").screen-12__icon
      .screen-12__about
        .screen-12__title обновлено
        .screen-12__text 22.12.2020