.screen-13.container
  .screen-13__row
    .screen-13__left
      .details.item-mob
        .summary.item-mob__head
          .summary__text Содержание
          .summary__icon
        .summary-inner.item-mob__content
          ol
            li 1. Заголовок
            li 2  Заголовок
              ol
                li 2.1 Заголовок
                li 2.2 Заголовок
                li 2.3 Заголовок
            li 2.4 Заголовок
      .article
        div
          h3.title-h3 Причины возникновения гайморита
          span Острое воспаление верхнечелюстного синуса чаще всего развивается в результате бактериального или вирусного инфицирования:
          ul.list-red
            li Среди вирусов преобладают возбудители острых респираторных заболеваний: адено- и риновирусы, пикорнавирусы и парвовирусы, вирусы гриппа и парагриппа, а также многие другие.
            li Бактериальная патогенная флора обычно представлена стафилококками, стрептококками, псевдодифтерийной палочкой или пневмококками.
          span Хронические формы заболевания возникают при затяжном течении или частых эпизодах острого воспаления пазухи.
        .quote
          .quote__left
            img(src="./assets/img/doctors-2.webp", alt="Bobkova")
          .quote__right
            img(src="./assets/img/svg/quote.svg", alt="quote").quote__quote
            .quote__content
              .quote__text Нередко причиной гайморита становятся заболевания зубов и стоматологические вмешательства на верхней челюсти. В таком случае пациенты попадают на прием к ЛОР-врачу на фоне периодонтита, периостита, челюстной кисты.
              a(href="").quote__name Борисенкова Елена Владимировна
              .quote__about гастроэнтеролог, терапевт, заведующий кабинетом терапии
        div
          h3.title-h3 Факторы риска развития гайморита
          ol.list-number
            li Снижение иммунитета
            li Полипы в полости носа
            li Искривление носовой перегородки
            li Некачественная гигиена полости рта и заболевания зубов или десен
            li Хронические заболевания ЛОР-органов
            li Хронические заболевания ЛОР-органов
        div
          figure
            img(src="./assets/img/screen-13.png", alt="")
            figcaption Lorem ipsum dolor sit amet consectetur. Est amet malesuada donec tincidunt id dapibus nibh mollis. Lectus enim venenatis mi morbi mauris. Aliquet arcu tellus lectus nascetur.
          .warning.red
            span Важно:
            p В отсутствии своевременного лечения слизь в пазухах превращается в гной и воспаление становится гнойным.
          .warning.green
            span Верно !
            p Муковисцидоз — причины и симптомы
          .warning.blue
            span Читайте также:
            a(href="") Муковисцидоз — причины и симптомы
        div
          h3.title-h3 Патогенез или механизм развития гайморита
          span Верхнечелюстные (гайморовы) пазухи — это парные полости, расположенные по бокам от носа и выстланные слизистой оболочкой. Они сообщаются с полостью носа небольшими отверстиями — соустьями. При проникновении инфекции слизистая отекает и начинает усиленно производить слизь, при этом соустья сужаются или полностью смыкаются. В результате в полости скапливается жидкость, в которой начинают активно размножаться бактерии — развивается воспалительный процесс.
          .warning.yellow
            span Обратите внимание:
            p В отсутствии своевременного лечения слизь в пазухах превращается в гной и воспаление становится гнойным.
        div
        .source-block
          h3.title-h3 Источники
          ul.list-red
            li Давыдов М.И., Матвеев В.Б., Волкова М.И., Черняев В.А., Романов В.А., и соавт.. Хирургическое лечение онкоурологических заболеваний: чего мы добились за 20 лет и куда идем? // Злокачественные опухоли – 2016.– № 4, спецвыпуск 1. – С.– 119–124.
            li Клинические рекомендации по почечно-клеточному раку. Разраб.: Европейская ассоциация урологов. – 2018. – 52 с.
    .screen-13__right
      .screen-13__category
        h3.title-h3.title-cat Категории
        .screen-13__block
          ul.list-blue
            li.list-blue__item
              a Болезни опорно-двигательной системы и травмы
            li.list-blue__item
              a Болезни опорно-двигательной системы и травмы
            li.list-blue__item
              a Болезни опорно-двигательной системы и травмы
      .screen-13__article
        h3.title-h3.title-cat Популярные статьи
        .screen-13__popular
          include ../../blocks/article-preview
          include ../../blocks/article-preview
          include ../../blocks/article-preview