.container
  .breadcrumbs(itemscope='' itemtype='http://schema.org/BreadcrumbList')
    span(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
      a.breadcrumbs__link(href='main.html' itemprop='item')
        span(itemprop='name') Главная
      meta(itemprop='position' content='1')
    span.breadcrumbs__separator /
    span.breadcrumbs__current Вывод из запоя на дому