footer.footer
  .footer__top.container
    .footer__block
      .footer__logo
        img(src="./assets/img/svg/footer-logo.svg", alt="")
      .footer__row
        .footer__left
          .footer__column.footer__column-1
            div.menu-bottom-menu-container
              ul.footer-menu
                li.menu-item.menu-item-has-children.menu__item
                  a Услуги
                  ul.sub-menu
                    li.menu-item.menu-item-has-children.menu__item
                      a Вывод из запоя
                    li.menu-item.menu-item-has-children.menu__item
                      a Кодирование от алкоголизма
                    li.menu-item.menu-item-has-children.menu__item
                      a Лечение алкоголизма
                    li.menu-item.menu-item-has-children.menu__item
                      a Наркологическая помощь
                    li.menu-item.menu-item-has-children.menu__item
                      a Кодирование от наркомании
                    li.menu-item.menu-item-has-children.menu__item
                      a Снятие ломки
                    li.menu-item.menu-item-has-children.menu__item
                      a Центр реабилитации
          .footer__column.footer__column-2
            div.menu-bottom-menu-container
              ul.footer-menu
                li.menu-item.menu-item-has-children.menu__item
                  a О клинике
                  ul.sub-menu
                    li.menu-item.menu-item-has-children.menu__item
                      a Врачи
                    li.menu-item.menu-item-has-children.menu__item
                      a Лицензии
                    li.menu-item.menu-item-has-children.menu__item
                      a Новости
                    li.menu-item.menu-item-has-children.menu__item
                      a Вакансии
                    li.menu-item.menu-item-has-children.menu__item
                      a Стационар
                    li.menu-item.menu-item-has-children.menu__item
                      a Партнерам
                    li.menu-item.menu-item-has-children.menu__item
                      a Фотогалерея
          .footer__column.footer__column-3
            div.menu-bottom-menu-container
              ul.footer-menu
                li.menu-item.menu__item
                  a Цены
                li.menu-item.menu__item
                  a Акции
                li.menu-item.menu__item
                  a Родственникам
                li.menu-item.menu__item
                  a База знаний
                li.menu-item.menu__item
                  a Отзывы
                li.menu-item.menu__item
                  a Контакты
        .footer__right
          .footer__cell
            .footer__text Присоединяйтесь к нам: 
            .footer__links.socials
              a(href="").socials__link
                img(src="./assets/img/svg/vk.svg", alt="")
              a(href="").socials__link
                img(src="./assets/img/svg/facebook.svg", alt="")
              a(href="").socials__link
                img(src="./assets/img/svg/ok.svg", alt="")
              a(href="").socials__link
                img(src="./assets/img/svg/instagram.svg", alt="")
              a(href="").socials__link
                img(src="./assets/img/svg/telegram.svg", alt="")
              a(href="").socials__link
                img(src="./assets/img/svg/whatsapp.svg", alt="")
              a(href="").socials__link
                img(src="./assets/img/svg/dzen.svg", alt="")
              a(href="").socials__link
                img(src="./assets/img/svg/youtube.svg", alt="")
          .footer__cell
            .footer__text Мы принимаем к оплате:
            .footer__links.payment
              a(href="").payment__link
                img(src="./assets/img/svg/visa.svg", alt="")
              a(href="").payment__link
                img(src="./assets/img/svg/mastercard.svg", alt="")
              a(href="").payment__link
                img(src="./assets/img/svg/mir.svg", alt="")
              a(href="").payment__link
                img(src="./assets/img/svg/qrcode.svg", alt="")
  .footer__bottom.container
    .footer__info
      .footer__col.footer__col-1
        a(href="tel:+74951710216").footer__line.footer__number
          img(src="./assets/img/svg/phone-blue.svg", alt="")
          span 8 (495) 171-02-16
        .footer__line.footer__address
          img(src="./assets/img/svg/location-marker.svg", alt="")
          span м. Алтуфьево Шенкурский пр-д 3 "Б"
      .footer__col.footer__col-2
        .footer__spoiler.item-mob
          .footer__summary.item-mob__head Данные об организации
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.3517 9.22803C6.57673 9.00306 6.8819 8.87669 7.2001 8.87669C7.5183 8.87669 7.82346 9.00306 8.0485 9.22803L12.0001 13.1796L15.9517 9.22803C16.178 9.00944 16.4811 8.88849 16.7958 8.89122C17.1104 8.89395 17.4114 9.02016 17.6339 9.24265C17.8564 9.46514 17.9826 9.76611 17.9853 10.0807C17.988 10.3954 17.8671 10.6985 17.6485 10.9248L12.8485 15.7248C12.6235 15.9498 12.3183 16.0762 12.0001 16.0762C11.6819 16.0762 11.3767 15.9498 11.1517 15.7248L6.3517 10.9248C6.12673 10.6998 6.00035 10.3946 6.00035 10.0764C6.00035 9.75823 6.12673 9.45306 6.3517 9.22803Z" fill="#186DE4"/>
          </svg>
          .footer__content.item-mob__content
            div Юридический адрес: 127349,<br> ГОРОД МОСКВА, ПРОЕЗД<br> ШЕНКУРСКИЙ, ДОМ 3Б,<br> ЭТ/ОФ 3/301-304,306
            div ООО “АлкоСпас”<br>ИНН: 7713703136<br>ОГРН: 1107746192510
      //- .footer__col.footer__col-3
      //-   .footer__health
      //-     img(src="./assets/img/svg/rf.svg", alt="")
      //-     .footer__health--info
      //-       .footer__health--text Незавимая оценка качества оказания услуг медицинских организаций 
      //-       a(href="").footer__health--link Учавствовать в голосовании 
    .footer__copy
      .footer__about
        p Лицензия № Л041-01137-77/00367887 от 22 августа 2019 г.  Копирование, тиражирование, а равно иное использование материалов, размещенных на https://alkospas.ru возможно только с письменного разрешения Правообладателя.
        p Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях информационные материалы и цены, размещенные на сайте, не являются публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ.
      .footer__copyright
        .footer__rights © 2022 ООО «АлкоСпас», Все права защищены 
        .footer__warning ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. НЕОБХОДИМА КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА

