header.header
  .container
    .header__row
      a(href="").header__logo.header__logo--mobile
        img(src="./assets/img/svg/footer-logo.svg", alt="")
      .header__nav.hidden#mob_menu
        .header__center
          .header__info
            a(href="").header__logo.header__logo--desktop
              img(src="./assets/img/svg/footer-logo.svg", alt="")
            .header__top
              .header__location
                .header__city.e_isyourregion
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.04953 4.04999C6.36235 2.73717 8.14292 1.99963 9.99953 1.99963C11.8561 1.99963 13.6367 2.73717 14.9495 4.04999C16.2623 5.36281 16.9999 7.14338 16.9999 8.99999C16.9999 10.8566 16.2623 12.6372 14.9495 13.95L9.99953 18.9L5.04953 13.95C4.39944 13.3 3.88376 12.5283 3.53193 11.6789C3.18011 10.8296 2.99902 9.9193 2.99902 8.99999C2.99902 8.08068 3.18011 7.17037 3.53193 6.32104C3.88376 5.47172 4.39944 4.70001 5.04953 4.04999ZM9.99953 11C10.53 11 11.0387 10.7893 11.4137 10.4142C11.7888 10.0391 11.9995 9.53042 11.9995 8.99999C11.9995 8.46956 11.7888 7.96085 11.4137 7.58578C11.0387 7.2107 10.53 6.99999 9.99953 6.99999C9.4691 6.99999 8.96039 7.2107 8.58532 7.58578C8.21024 7.96085 7.99953 8.46956 7.99953 8.99999C7.99953 9.53042 8.21024 10.0391 8.58532 10.4142C8.96039 10.7893 9.4691 11 9.99953 11Z" fill="#D91A3C"/>
                  </svg>
                  span Москва
                  img(src="./assets/img/svg/arrow-mobile.svg", alt="")
                .header__address Шенкурский проезд, 3Б
                include ../blocks/isyourregion.pug
              .header__search.e_search
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.60039 4.80009C8.32735 4.80009 7.10645 5.3058 6.20628 6.20598C5.3061 7.10615 4.80039 8.32705 4.80039 9.60009C4.80039 10.8731 5.3061 12.094 6.20628 12.9942C7.10645 13.8944 8.32735 14.4001 9.60039 14.4001C10.8734 14.4001 12.0943 13.8944 12.9945 12.9942C13.8947 12.094 14.4004 10.8731 14.4004 9.60009C14.4004 8.32705 13.8947 7.10615 12.9945 6.20598C12.0943 5.3058 10.8734 4.80009 9.60039 4.80009ZM2.40039 9.60009C2.40025 8.46693 2.66756 7.34974 3.1806 6.33938C3.69363 5.32902 4.4379 4.45401 5.35287 3.78552C6.26783 3.11703 7.32767 2.67394 8.44617 2.49229C9.56467 2.31063 10.7102 2.39554 11.7897 2.74011C12.8692 3.08468 13.8522 3.67917 14.6586 4.47524C15.465 5.27132 16.0721 6.24649 16.4306 7.32145C16.7891 8.39641 16.8888 9.5408 16.7216 10.6616C16.5544 11.7823 16.125 12.8478 15.4684 13.7713L21.2488 19.5517C21.4674 19.778 21.5883 20.0811 21.5856 20.3958C21.5829 20.7104 21.4567 21.0114 21.2342 21.2339C21.0117 21.4564 20.7107 21.5826 20.3961 21.5853C20.0814 21.588 19.7783 21.4671 19.552 21.2485L13.7728 15.4693C12.6956 16.2352 11.4284 16.6899 10.11 16.7834C8.79159 16.877 7.47288 16.6058 6.29835 15.9997C5.12382 15.3935 4.13881 14.4757 3.45126 13.3469C2.7637 12.2181 2.40013 10.9218 2.40039 9.60009Z" fill="#226ED8"/>
                </svg>
                include ../blocks/headermodals.pug
          .header__menu
            div.menu-header-menu-container
              ul.menu
                li.menu-item.menu__item.menu-item-has-children
                  a О клинике
                  ul.sub-menu
                    li.menu-item.menu__item
                      a Врачи
                    li.menu-item.menu__item
                      a Лицензии
                    li.menu-item.menu__item
                      a Новости
                    li.menu-item.menu__item
                      a Вакансии
                    li.menu-item.menu__item
                      a Стационар
                    li.menu-item.menu__item
                      a Партнерам
                    li.menu-item.menu__item
                      a Фотогалерея
                li.menu-item.menu__item.menu-item-has-children.mega-menu
                  a(href="") Услуги
                  ul.sub-menu
                    li.menu-item.menu__item.menu-item-has-children 
                      a Выход из запоя
                      ul.sub-menu
                        li.menu-item.menu__item
                          a В станицонаре
                        li.menu-item.menu__item
                          a Капельницы от похмелья
                        li.menu-item.menu__item
                          a Лечение похмелья
                        li.menu-item.menu__item
                          a Капельница от запоя
                        li.menu-item.menu__item
                          a Анонимный вывод из запоя
                        li.menu-item.menu__item
                          a Экстренный вывод из запоя
                        li.menu-item.menu__item
                          a Принудительный вывод из запоя
                        li.menu-item.menu__item
                          a Вытрезвление на дому
                    li.menu-item.menu__item
                      a Кодирование от алкоголизма
                    li.menu-item.menu__item
                      a Лечение алкоголизма
                    li.menu-item.menu__item
                      a Лечение наркомании
                    li.menu-item.menu__item 
                      a Наркологическая помощь
                    li.menu-item.menu__item
                      a Кодирование от наркомании
                    li.menu-item.menu__item
                      a Снятие ломки
                    li.menu-item.menu__item
                      a Центр реабилитации
                li.menu-item.menu__item
                  a Цены
                li.menu-item.menu__item.menu-item-has-children
                  a Родственникам
                  ul.sub-menu
                    li.menu-item.menu__item
                      a Что такое созависимость?
                    li.menu-item.menu__item
                      a Как уговорить лечиться?
                    li.menu-item.menu__item
                      a Группы помощи для родственников
                li.menu-item.menu__item.menu-item-has-children
                  a База знаний
                  ul.sub-menu
                    li.menu-item.menu__item
                      a Справочник заболеваний
                    li.menu-item.menu__item
                      a Симптомы
                    li.menu-item.menu__item
                      a Лечение наркомании
                    li.menu-item.menu__item
                      a Лечение алкоголизма
                    li.menu-item.menu__item
                      a Типы наркомании
                    li.menu-item.menu__item
                      a Аптечная наркомания
                li.menu-item.menu__item
                  a Отзывы
                li.menu-item.menu__item
                  a Контакты
        .header__contact
          .header__call
            a(href="tel:+74951710216").header__phone.header__phone--desktop
              img(src="./assets/img/svg/phone-red.svg", alt="phone number")
              span 8 (495) 171-02-16
            .header__time 24/7
          .btn.btn-primary.e_cons Бесплатная консультация
      .header__mob
        .header__search.header__search--mob.e_search(aria-label="search")
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.60039 4.79997C8.32735 4.79997 7.10645 5.30568 6.20628 6.20585C5.3061 7.10603 4.80039 8.32693 4.80039 9.59997C4.80039 10.873 5.3061 12.0939 6.20628 12.9941C7.10645 13.8943 8.32735 14.4 9.60039 14.4C10.8734 14.4 12.0943 13.8943 12.9945 12.9941C13.8947 12.0939 14.4004 10.873 14.4004 9.59997C14.4004 8.32693 13.8947 7.10603 12.9945 6.20585C12.0943 5.30568 10.8734 4.79997 9.60039 4.79997ZM2.40039 9.59997C2.40025 8.46681 2.66756 7.34962 3.1806 6.33926C3.69363 5.32889 4.4379 4.45388 5.35287 3.7854C6.26783 3.11691 7.32767 2.67382 8.44617 2.49217C9.56467 2.31051 10.7102 2.39542 11.7897 2.73999C12.8692 3.08455 13.8522 3.67905 14.6586 4.47512C15.465 5.2712 16.0721 6.24637 16.4306 7.32133C16.7891 8.39629 16.8888 9.54068 16.7216 10.6614C16.5544 11.7822 16.125 12.8476 15.4684 13.7712L21.2488 19.5516C21.4674 19.7779 21.5883 20.081 21.5856 20.3956C21.5829 20.7103 21.4567 21.0113 21.2342 21.2338C21.0117 21.4562 20.7107 21.5824 20.3961 21.5852C20.0814 21.5879 19.7783 21.467 19.552 21.2484L13.7728 15.4692C12.6956 16.2351 11.4284 16.6898 10.11 16.7833C8.79159 16.8769 7.47288 16.6057 6.29835 15.9995C5.12382 15.3934 4.13881 14.4756 3.45126 13.3468C2.7637 12.218 2.40013 10.9217 2.40039 9.59997Z" fill="#186DE4"/>
          </svg>
          include ../blocks/headermodals.pug
        a(href="tel:+74951710216").header__phone.header__phone--mob(aria-label="phone number")
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M2.40039 3.60002C2.40039 3.28176 2.52682 2.97654 2.75186 2.7515C2.97691 2.52645 3.28213 2.40002 3.60039 2.40002H6.18399C6.46804 2.40016 6.74283 2.50104 6.95948 2.68474C7.17614 2.86843 7.32061 3.12302 7.36719 3.40322L8.25519 8.72522C8.29762 8.97869 8.25756 9.23907 8.14091 9.46806C8.02425 9.69705 7.83717 9.88254 7.60719 9.99723L5.74959 10.9248C6.41572 12.5756 7.40779 14.0752 8.66652 15.3339C9.92525 16.5926 11.4248 17.5847 13.0756 18.2508L14.0044 16.3932C14.119 16.1635 14.3043 15.9765 14.5331 15.8599C14.7618 15.7433 15.0219 15.7031 15.2752 15.7452L20.5972 16.6332C20.8774 16.6798 21.132 16.8243 21.3157 17.0409C21.4994 17.2576 21.6003 17.5324 21.6004 17.8164V20.4C21.6004 20.7183 21.474 21.0235 21.2489 21.2486C21.0239 21.4736 20.7187 21.6 20.4004 21.6H18.0004C9.38439 21.6 2.40039 14.616 2.40039 6.00002V3.60002Z" fill="#D91A3C"/>
          </svg>
          span 8 (495) 171-02-16
        .header__burger.e_menu(aria-label="menu")



