.overlay.hidden.cons#cons
  .overflow
    .overflow__box
      .cons__block
        .cons__row
          .cons__logo
            img(src="./assets/img/svg/footer-logo.svg", alt="logo")
          .overflow__box_close.e_cons_close
        .cons__text Мы перезвоним вам в ближайшее время
    .overflow__close.e_cons_close


