<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

  include components/_head

</head>
<body>

  .wrapper
    .anchor#top

    include components/_header
    .section-bg
      include components/_breadcrumbs
    section.section-first.section-bg.vacancy
      .container
        h1.title-h1 Врач психиатр-нарколог на выезде
        .vacancy__about
          .vacancy__row
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.06217 4.86082C7.63755 3.28543 9.77424 2.40039 12.0022 2.40039C14.2301 2.40039 16.3668 3.28543 17.9422 4.86082C19.5176 6.43621 20.4026 8.57289 20.4026 10.8008C20.4026 13.0288 19.5176 15.1654 17.9422 16.7408L12.0022 22.6808L6.06217 16.7408C5.28207 15.9608 4.66325 15.0347 4.24106 14.0156C3.81886 12.9964 3.60156 11.904 3.60156 10.8008C3.60156 9.69764 3.81886 8.60527 4.24106 7.58608C4.66325 6.56689 5.28207 5.64084 6.06217 4.86082ZM12.0022 13.2008C12.6387 13.2008 13.2491 12.948 13.6992 12.4979C14.1493 12.0478 14.4022 11.4373 14.4022 10.8008C14.4022 10.1643 14.1493 9.55385 13.6992 9.10376C13.2491 8.65368 12.6387 8.40082 12.0022 8.40082C11.3656 8.40082 10.7552 8.65368 10.3051 9.10376C9.85503 9.55385 9.60217 10.1643 9.60217 10.8008C9.60217 11.4373 9.85503 12.0478 10.3051 12.4979C10.7552 12.948 11.3656 13.2008 12.0022 13.2008Z" fill="#226ED8"/>
            </svg> Москва и Подмосковье
          .vacancy__row
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9984 21.6004C14.5445 21.6004 16.9863 20.589 18.7867 18.7886C20.587 16.9883 21.5984 14.5465 21.5984 12.0004C21.5984 9.45431 20.587 7.01252 18.7867 5.21217C16.9863 3.41182 14.5445 2.40039 11.9984 2.40039C9.45236 2.40039 7.01056 3.41182 5.21021 5.21217C3.40986 7.01252 2.39844 9.45431 2.39844 12.0004C2.39844 14.5465 3.40986 16.9883 5.21021 18.7886C7.01056 20.589 9.45236 21.6004 11.9984 21.6004ZM13.1984 7.20039C13.1984 6.88213 13.072 6.57691 12.847 6.35186C12.6219 6.12682 12.3167 6.00039 11.9984 6.00039C11.6802 6.00039 11.375 6.12682 11.1499 6.35186C10.9249 6.57691 10.7984 6.88213 10.7984 7.20039V12.0004C10.7985 12.3186 10.925 12.6238 11.15 12.8488L14.5436 16.2436C14.6551 16.3551 14.7875 16.4435 14.9332 16.5039C15.0788 16.5642 15.235 16.5953 15.3926 16.5953C15.5503 16.5953 15.7064 16.5642 15.8521 16.5039C15.9978 16.4435 16.1301 16.3551 16.2416 16.2436C16.3531 16.1321 16.4416 15.9997 16.5019 15.8541C16.5622 15.7084 16.5933 15.5523 16.5933 15.3946C16.5933 15.2369 16.5622 15.0808 16.5019 14.9351C16.4416 14.7894 16.3531 14.6571 16.2416 14.5456L13.1984 11.5036V7.20039Z" fill="#226ED8"/>
            </svg> График работы: по результатам собеседования
        article.article
          .br-block
            h3 Наши требования:
            ul
              li Высшее медицинское образование и диплом, который бы его подтвердил
              li Высшее медицинское образование и диплом, который бы его подтвердил

    a.top(href="#top")
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.6483 15.2484C17.4233 15.4734 17.1181 15.5998 16.7999 15.5998C16.4817 15.5998 16.1765 15.4734 15.9515 15.2484L11.9999 11.2968L8.0483 15.2484C7.82198 15.467 7.51886 15.588 7.20422 15.5852C6.88959 15.5825 6.58861 15.4563 6.36612 15.2338C6.14363 15.0113 6.01743 14.7103 6.01469 14.3957C6.01196 14.0811 6.13291 13.7779 6.3515 13.5516L11.1515 8.75161C11.3765 8.52665 11.6817 8.40027 11.9999 8.40027C12.3181 8.40027 12.6233 8.52665 12.8483 8.75161L17.6483 13.5516C17.8733 13.7766 17.9996 14.0818 17.9996 14.4C17.9996 14.7182 17.8733 15.0234 17.6483 15.2484Z" fill="#226ED8"/>
      </svg>

    include components/_footer
    include components/_modals
    include components/_scripts

</body>
</html>