.screen-16.container
  .screen-16__row
    .screen-16__left
      img.screen-16__img(src="./assets/img/screen-16.webp", alt="")
      .screen-16__info.screen-16__info--mob
        .screen-16__point
          .screen-16__point--icon
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.52062 4.14598C8.29253 4.08435 9.02532 3.78074 9.61462 3.27838C10.2802 2.71149 11.1259 2.40015 12.0002 2.40015C12.8745 2.40015 13.7202 2.71149 14.3858 3.27838C14.9751 3.78074 15.7079 4.08435 16.4798 4.14598C17.3515 4.21565 18.1699 4.59353 18.7883 5.2119C19.4067 5.83026 19.7846 6.64866 19.8542 7.52038C19.9154 8.29198 20.219 9.02518 20.7218 9.61438C21.2887 10.28 21.6001 11.1257 21.6001 12C21.6001 12.8743 21.2887 13.72 20.7218 14.3856C20.2195 14.9749 19.9159 15.7077 19.8542 16.4796C19.7846 17.3513 19.4067 18.1697 18.7883 18.7881C18.1699 19.4064 17.3515 19.7843 16.4798 19.854C15.7079 19.9156 14.9751 20.2192 14.3858 20.7216C13.7202 21.2885 12.8745 21.5998 12.0002 21.5998C11.1259 21.5998 10.2802 21.2885 9.61462 20.7216C9.02532 20.2192 8.29253 19.9156 7.52062 19.854C6.6489 19.7843 5.8305 19.4064 5.21214 18.7881C4.59378 18.1697 4.21589 17.3513 4.14622 16.4796C4.08459 15.7077 3.78098 14.9749 3.27862 14.3856C2.71173 13.72 2.40039 12.8743 2.40039 12C2.40039 11.1257 2.71173 10.28 3.27862 9.61438C3.78098 9.02507 4.08459 8.29229 4.14622 7.52038C4.21589 6.64866 4.59378 5.83026 5.21214 5.2119C5.8305 4.59353 6.6489 4.21565 7.52062 4.14598ZM16.4486 10.4484C16.6672 10.2221 16.7882 9.91893 16.7854 9.6043C16.7827 9.28966 16.6565 8.98869 16.434 8.7662C16.2115 8.54371 15.9105 8.4175 15.5959 8.41477C15.2813 8.41203 14.9781 8.53299 14.7518 8.75158L10.8002 12.7032L9.24862 11.1516C9.0223 10.933 8.71918 10.812 8.40454 10.8148C8.0899 10.8175 7.78893 10.9437 7.56644 11.1662C7.34395 11.3887 7.21775 11.6897 7.21501 12.0043C7.21228 12.3189 7.33323 12.6221 7.55182 12.8484L9.95182 15.2484C10.1769 15.4733 10.482 15.5997 10.8002 15.5997C11.1184 15.5997 11.4236 15.4733 11.6486 15.2484L16.4486 10.4484Z" fill="#186DE4"/>
            </svg>
          .screen-16__point--text врач высшей категории
        .screen-16__point
          .screen-16__point--icon
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.20039 2.40002C6.88213 2.40002 6.57691 2.52645 6.35186 2.7515C6.12682 2.97654 6.00039 3.28176 6.00039 3.60002V4.80002H4.80039C4.16387 4.80002 3.55342 5.05288 3.10333 5.50297C2.65325 5.95306 2.40039 6.56351 2.40039 7.20002V19.2C2.40039 19.8365 2.65325 20.447 3.10333 20.8971C3.55342 21.3472 4.16387 21.6 4.80039 21.6H19.2004C19.8369 21.6 20.4474 21.3472 20.8974 20.8971C21.3475 20.447 21.6004 19.8365 21.6004 19.2V7.20002C21.6004 6.56351 21.3475 5.95306 20.8974 5.50297C20.4474 5.05288 19.8369 4.80002 19.2004 4.80002H18.0004V3.60002C18.0004 3.28176 17.874 2.97654 17.6489 2.7515C17.4239 2.52645 17.1187 2.40002 16.8004 2.40002C16.4821 2.40002 16.1769 2.52645 15.9519 2.7515C15.7268 2.97654 15.6004 3.28176 15.6004 3.60002V4.80002H8.40039V3.60002C8.40039 3.28176 8.27396 2.97654 8.04892 2.7515C7.82387 2.52645 7.51865 2.40002 7.20039 2.40002ZM7.20039 8.40002C6.88213 8.40002 6.57691 8.52645 6.35186 8.7515C6.12682 8.97654 6.00039 9.28176 6.00039 9.60002C6.00039 9.91828 6.12682 10.2235 6.35186 10.4486C6.57691 10.6736 6.88213 10.8 7.20039 10.8H16.8004C17.1187 10.8 17.4239 10.6736 17.6489 10.4486C17.874 10.2235 18.0004 9.91828 18.0004 9.60002C18.0004 9.28176 17.874 8.97654 17.6489 8.7515C17.4239 8.52645 17.1187 8.40002 16.8004 8.40002H7.20039Z" fill="#186DE4"/>
            </svg>
          .screen-16__point--text стаж 35 лет
        .screen-16__point
          .screen-16__point--icon
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21.6004 12C21.6004 16.6392 17.302 20.4 12.0004 20.4C10.2964 20.4071 8.61585 20.0038 7.10079 19.224L2.40039 20.4L4.00599 16.6524C2.99199 15.3204 2.40039 13.7208 2.40039 12C2.40039 7.36078 6.69879 3.59998 12.0004 3.59998C17.302 3.59998 21.6004 7.36078 21.6004 12ZM8.40039 10.8H6.00039V13.2H8.40039V10.8ZM18.0004 10.8H15.6004V13.2H18.0004V10.8ZM10.8004 10.8H13.2004V13.2H10.8004V10.8Z" fill="#186DE4"/>
            </svg>
          .screen-16__point--text отзывы: 19
    .screen-16__right
      h1.title-banner Поликарпов Александр Викторович
      .screen-16__text Главный врач медицинского центра «АлкоСпас». Практикующий врач Психиатр-нарколог, психотерапевт с 35-летним стажем работы.
      .screen-16__text <span>Специализация:</span> Главный врач медицинского центра «АлкоСпас». Практикующий врач Психиатр-нарколог, психотерапевт с 35-летним стажем работы.
      .screen-16__info.screen-16__info--desktop
        .screen-16__point
          .screen-16__point--icon
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.52062 4.14598C8.29253 4.08435 9.02532 3.78074 9.61462 3.27838C10.2802 2.71149 11.1259 2.40015 12.0002 2.40015C12.8745 2.40015 13.7202 2.71149 14.3858 3.27838C14.9751 3.78074 15.7079 4.08435 16.4798 4.14598C17.3515 4.21565 18.1699 4.59353 18.7883 5.2119C19.4067 5.83026 19.7846 6.64866 19.8542 7.52038C19.9154 8.29198 20.219 9.02518 20.7218 9.61438C21.2887 10.28 21.6001 11.1257 21.6001 12C21.6001 12.8743 21.2887 13.72 20.7218 14.3856C20.2195 14.9749 19.9159 15.7077 19.8542 16.4796C19.7846 17.3513 19.4067 18.1697 18.7883 18.7881C18.1699 19.4064 17.3515 19.7843 16.4798 19.854C15.7079 19.9156 14.9751 20.2192 14.3858 20.7216C13.7202 21.2885 12.8745 21.5998 12.0002 21.5998C11.1259 21.5998 10.2802 21.2885 9.61462 20.7216C9.02532 20.2192 8.29253 19.9156 7.52062 19.854C6.6489 19.7843 5.8305 19.4064 5.21214 18.7881C4.59378 18.1697 4.21589 17.3513 4.14622 16.4796C4.08459 15.7077 3.78098 14.9749 3.27862 14.3856C2.71173 13.72 2.40039 12.8743 2.40039 12C2.40039 11.1257 2.71173 10.28 3.27862 9.61438C3.78098 9.02507 4.08459 8.29229 4.14622 7.52038C4.21589 6.64866 4.59378 5.83026 5.21214 5.2119C5.8305 4.59353 6.6489 4.21565 7.52062 4.14598ZM16.4486 10.4484C16.6672 10.2221 16.7882 9.91893 16.7854 9.6043C16.7827 9.28966 16.6565 8.98869 16.434 8.7662C16.2115 8.54371 15.9105 8.4175 15.5959 8.41477C15.2813 8.41203 14.9781 8.53299 14.7518 8.75158L10.8002 12.7032L9.24862 11.1516C9.0223 10.933 8.71918 10.812 8.40454 10.8148C8.0899 10.8175 7.78893 10.9437 7.56644 11.1662C7.34395 11.3887 7.21775 11.6897 7.21501 12.0043C7.21228 12.3189 7.33323 12.6221 7.55182 12.8484L9.95182 15.2484C10.1769 15.4733 10.482 15.5997 10.8002 15.5997C11.1184 15.5997 11.4236 15.4733 11.6486 15.2484L16.4486 10.4484Z" fill="#186DE4"/>
            </svg>
          .screen-16__point--text врач высшей категории
        .screen-16__point
          .screen-16__point--icon
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.20039 2.40002C6.88213 2.40002 6.57691 2.52645 6.35186 2.7515C6.12682 2.97654 6.00039 3.28176 6.00039 3.60002V4.80002H4.80039C4.16387 4.80002 3.55342 5.05288 3.10333 5.50297C2.65325 5.95306 2.40039 6.56351 2.40039 7.20002V19.2C2.40039 19.8365 2.65325 20.447 3.10333 20.8971C3.55342 21.3472 4.16387 21.6 4.80039 21.6H19.2004C19.8369 21.6 20.4474 21.3472 20.8974 20.8971C21.3475 20.447 21.6004 19.8365 21.6004 19.2V7.20002C21.6004 6.56351 21.3475 5.95306 20.8974 5.50297C20.4474 5.05288 19.8369 4.80002 19.2004 4.80002H18.0004V3.60002C18.0004 3.28176 17.874 2.97654 17.6489 2.7515C17.4239 2.52645 17.1187 2.40002 16.8004 2.40002C16.4821 2.40002 16.1769 2.52645 15.9519 2.7515C15.7268 2.97654 15.6004 3.28176 15.6004 3.60002V4.80002H8.40039V3.60002C8.40039 3.28176 8.27396 2.97654 8.04892 2.7515C7.82387 2.52645 7.51865 2.40002 7.20039 2.40002ZM7.20039 8.40002C6.88213 8.40002 6.57691 8.52645 6.35186 8.7515C6.12682 8.97654 6.00039 9.28176 6.00039 9.60002C6.00039 9.91828 6.12682 10.2235 6.35186 10.4486C6.57691 10.6736 6.88213 10.8 7.20039 10.8H16.8004C17.1187 10.8 17.4239 10.6736 17.6489 10.4486C17.874 10.2235 18.0004 9.91828 18.0004 9.60002C18.0004 9.28176 17.874 8.97654 17.6489 8.7515C17.4239 8.52645 17.1187 8.40002 16.8004 8.40002H7.20039Z" fill="#186DE4"/>
            </svg>
          .screen-16__point--text стаж 35 лет
        .screen-16__point
          .screen-16__point--icon
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21.6004 12C21.6004 16.6392 17.302 20.4 12.0004 20.4C10.2964 20.4071 8.61585 20.0038 7.10079 19.224L2.40039 20.4L4.00599 16.6524C2.99199 15.3204 2.40039 13.7208 2.40039 12C2.40039 7.36078 6.69879 3.59998 12.0004 3.59998C17.302 3.59998 21.6004 7.36078 21.6004 12ZM8.40039 10.8H6.00039V13.2H8.40039V10.8ZM18.0004 10.8H15.6004V13.2H18.0004V10.8ZM10.8004 10.8H13.2004V13.2H10.8004V10.8Z" fill="#186DE4"/>
            </svg>
          .screen-16__point--text отзывы: 19
      .tags
        a(href="#price").tag нарколог
        a(href="#doctors").tag психотерапевт
      .screen-16__block
        span Стоимость приема
        .screen-16__price.price
          .screen-16__price--old.price-old 8 000 
          .screen-16__price--new.price-new 6 000 ₽
          .screen-16__price--discount.price-discount -20%
        a(href="").btn.btn-primary Записаться
  .tags
    a(href="#price").tag цены
    a(href="#doctors").tag наши врачи
    a(href="#why").tag почему мы?
    a(href="#faq").tag вопросы-ответы
    a(href="#important").tag важно знать
