.screen-3.container
  .screen-3__banner
    img(src="./assets/img/screen-3-1.webp", alt="").screen-3__img--left
    .screen-3__content
      .screen-3__title Дарим скидку 10% на лечение
      .screen-3__text Ответьте на несколько вопросов и получите скидку на лечение + бонусы
      a(href="").btn.btn-primary Ответить на вопросы
    img(src="./assets/img/screen-3-2.webp", alt="").screen-3__img--right
    img(src="./assets/img/screen-3-3.webp", alt="").screen-3__img--mob