.screen-4.container
  .anchor#why
  h2.title-h2 Почему вывод из запоя на дому стоит сделать у нас ?
  .screen-4__grid
    .screen-4__item
      .screen-4__left
        img(src="./assets/img/svg/screen-4-1.svg", alt="")
      .screen-4__right
        .screen-4__subtitle Работаем 24/7
        .screen-4__description Доезжаем до любой точки города за 30 мин.
    .screen-4__item
      .screen-4__left
        img(src="./assets/img/svg/screen-4-2.svg", alt="")
      .screen-4__right
        .screen-4__subtitle Врачи высшей категории
        .screen-4__description В нашем штате только опытные специалисты, в том числе реаниматологи, психотерапевты
    .screen-4__item
      .screen-4__left
        img(src="./assets/img/svg/screen-4-3.svg", alt="")
      .screen-4__right
        .screen-4__subtitle Удобное расположение
        .screen-4__description Подберите наиболее близкий к Вам филиал
    .screen-4__item
      .screen-4__left
        img(src="./assets/img/svg/screen-4-4.svg", alt="")
      .screen-4__right
        .screen-4__subtitle Анонимность — наш приоритет
        .screen-4__description Лечение проходят многие медийные личности, инкогнито гарантировано
    .screen-4__item
      .screen-4__left
        img(src="./assets/img/svg/screen-4-5.svg", alt="")
      .screen-4__right
        .screen-4__subtitle Эффективность гарантирована
        .screen-4__description При комлексном лечении результативность гарантирована
    .screen-4__item
      .screen-4__left
        img(src="./assets/img/svg/screen-4-6.svg", alt="")
      .screen-4__right
        .screen-4__subtitle Гибкая ценовая политика
        .screen-4__description Мы подберем оптимальное лечение по удобной для вас стоимости
