.screen-5.container
  .anchor#important
  h2.title-h2 Вывод из запоя на дому: показания, противопоказания и методы лечения
  .tabs
    .tab(data-tab="tab1") Показания
    .tab(data-tab="tab2") Противопоказания
    .tab(data-tab="tab3") Как проходит ?
    .tab(data-tab="tab4") Преимущества
    .tab(data-tab="tab5") Часто-задаваемые вопросы
    .tab(data-tab="tab6") Цена
  .tab-content#tab1
    p Перед началом процедуры детоксикации, прерывания запойного состояния врач детально оценивает состояние здоровья пациента. Проводит первичную диагностику. Пройти очищение организма и прервать запой на дому можно, если соблюдаются следующие условия:
    ul
      li больной — человек от 18 до 50-55 лет;
      li человек употребляет алкоголь не более 5 суток подряд;
      li у пациента нет тяжелых соматических заболеваний и психических расстройств, которые препятствуют проведению лечения и требуют обязательного постоянного контроля за состоянием организма;
      li человек находится в сознании;
      li у пациента ранее не было эпизодов белой горячки, алкогольного делирия;
      li по оценке врача, рисков развития тяжелых неотложных состояний (инфаркта, инсульта, эпилептического припадка и пр.) нет.
    p Тем самым, показание к выводу из запоя на дому — это острое состояние у человека молодого или зрелого, но не старческого возраста, который относительно здоров и не так давно столкнулся с расстройством. В любом случае, рекомендуется прислушаться к мнению врача-нарколога. Он даст необходимые рекомендации, подскажет, как и в каких условиях лучше прервать запой, чтобы обеспечить пациенту максимальный уровень безопасности.
  .tab-content#tab2
    p Перед началом процедуры детоксикации, прерывания запойного состояния врач детально оценивает состояние здоровья пациента. Проводит первичную диагностику. Пройти очищение организма и прервать запой на дому можно, если соблюдаются следующие условия:
    ul
      li больной — человек от 18 до 50-55 лет;
      li человек употребляет алкоголь не более 5 суток подряд;
      li у пациента нет тяжелых соматических заболеваний и психических расстройств, которые препятствуют проведению лечения и требуют обязательного постоянного контроля за состоянием организма;
      li человек находится в сознании;
      li у пациента ранее не было эпизодов белой горячки, алкогольного делирия;
      li по оценке врача, рисков развития тяжелых неотложных состояний (инфаркта, инсульта, эпилептического припадка и пр.) нет.
    p Тем самым, показание к выводу из запоя на дому — это острое состояние у человека молодого или зрелого, но не старческого возраста, который относительно здоров и не так давно столкнулся с расстройством. В любом случае, рекомендуется прислушаться к мнению врача-нарколога. Он даст необходимые рекомендации, подскажет, как и в каких условиях лучше прервать запой, чтобы обеспечить пациенту максимальный уровень безопасности.
  .tab-content#tab3
    p Перед началом процедуры детоксикации, прерывания запойного состояния врач детально оценивает состояние здоровья пациента. Проводит первичную диагностику. Пройти очищение организма и прервать запой на дому можно, если соблюдаются следующие условия:
    ul
      li больной — человек от 18 до 50-55 лет;
      li человек употребляет алкоголь не более 5 суток подряд;
      li у пациента нет тяжелых соматических заболеваний и психических расстройств, которые препятствуют проведению лечения и требуют обязательного постоянного контроля за состоянием организма;
      li человек находится в сознании;
      li у пациента ранее не было эпизодов белой горячки, алкогольного делирия;
      li по оценке врача, рисков развития тяжелых неотложных состояний (инфаркта, инсульта, эпилептического припадка и пр.) нет.
    p Тем самым, показание к выводу из запоя на дому — это острое состояние у человека молодого или зрелого, но не старческого возраста, который относительно здоров и не так давно столкнулся с расстройством. В любом случае, рекомендуется прислушаться к мнению врача-нарколога. Он даст необходимые рекомендации, подскажет, как и в каких условиях лучше прервать запой, чтобы обеспечить пациенту максимальный уровень безопасности.
  .tab-content#tab4
    p Перед началом процедуры детоксикации, прерывания запойного состояния врач детально оценивает состояние здоровья пациента. Проводит первичную диагностику. Пройти очищение организма и прервать запой на дому можно, если соблюдаются следующие условия:
  .tab-content#tab5
    p Перед началом процедуры детоксикации, прерывания запойного состояния врач детально оценивает состояние здоровья пациента. Проводит первичную диагностику. Пройти очищение организма и прервать запой на дому можно, если соблюдаются следующие условия:
    ul
      li больной — человек от 18 до 50-55 лет;
      li человек употребляет алкоголь не более 5 суток подряд;
      li у пациента нет тяжелых соматических заболеваний и психических расстройств, которые препятствуют проведению лечения и требуют обязательного постоянного контроля за состоянием организма;
      li человек находится в сознании;
      li у пациента ранее не было эпизодов белой горячки, алкогольного делирия;
      li по оценке врача, рисков развития тяжелых неотложных состояний (инфаркта, инсульта, эпилептического припадка и пр.) нет.
  .tab-content#tab6
    ul
      li больной — человек от 18 до 50-55 лет;
      li человек употребляет алкоголь не более 5 суток подряд;
      li у пациента нет тяжелых соматических заболеваний и психических расстройств, которые препятствуют проведению лечения и требуют обязательного постоянного контроля за состоянием организма;
      li человек находится в сознании;
      li у пациента ранее не было эпизодов белой горячки, алкогольного делирия;
      li по оценке врача, рисков развития тяжелых неотложных состояний (инфаркта, инсульта, эпилептического припадка и пр.) нет.
