.screen-10.container
  .screen-10__banner
    .screen-10__left
      .title-banner.screen-10__title Профессиональное лечение в стационаре 
      ul.screen-10__info
        li.screen-10__point Круглосуточное наблюдение врачей
        li.screen-10__point Сбор анализов и обследование
        li.screen-10__point Процент ремиссии выше на 82%
      .btn.btn-primary.small Записаться в клинику
    .screen-10__right
      img(src="./assets/img/screen-10-mob.webp", alt="").screen-10__img.screen-10__img--mob
      img(src="./assets/img/screen-10-desktop.webp", alt="").screen-10__img.screen-10__img--desktop