.screen-2.container
  h2.title-h2 Варианты лечения
  .screen-2__grid
    .screen-2__item.item-mob
      .screen-2__row.item-mob__head
        .screen-2__left
          h3.screen-2__title Пакет “Эконом”
          .screen-2__price.price
            .screen-2__price--old.price-old 8 000 
            .screen-2__price--new.price-new 6 000 ₽
            .screen-2__price--discount.price-discount -20%
        .screen-2__right
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.35134 8.75111C6.57638 8.52615 6.88155 8.39977 7.19974 8.39977C7.51794 8.39977 7.82311 8.52615 8.04814 8.75111L11.9997 12.7027L15.9513 8.75111C16.062 8.6365 16.1945 8.54508 16.3409 8.48219C16.4873 8.4193 16.6447 8.3862 16.8041 8.38481C16.9634 8.38343 17.1214 8.41379 17.2689 8.47413C17.4164 8.53446 17.5503 8.62357 17.663 8.73624C17.7757 8.84891 17.8648 8.98289 17.9251 9.13037C17.9855 9.27784 18.0158 9.43586 18.0144 9.59519C18.0131 9.75453 17.98 9.91199 17.9171 10.0584C17.8542 10.2048 17.7628 10.3372 17.6481 10.4479L12.8481 15.2479C12.6231 15.4729 12.3179 15.5993 11.9997 15.5993C11.6815 15.5993 11.3764 15.4729 11.1513 15.2479L6.35134 10.4479C6.12638 10.2229 6 9.91771 6 9.59951C6 9.28131 6.12638 8.97614 6.35134 8.75111Z" fill="#161515"/></svg>
      .screen-2__content.item-mob__content
        ul.screen-2__info
          li.screen-2__point.screen-2__point--include Выезд
          li.screen-2__point.screen-2__point--exclude В капельницу включено большее количество препаратов
      a(href="").btn.btn-primary  Заказать
    .screen-2__item.item-mob.active
      .screen-2__row.item-mob__head
        .screen-2__left
          h3.screen-2__title Пакет “Стандарт”
          .screen-2__price.price
            .screen-2__price--old.price-old 8 000 
            .screen-2__price--new.price-new 6 000 ₽
            .screen-2__price--discount.price-discount -20%
        .screen-2__right
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.35134 8.75111C6.57638 8.52615 6.88155 8.39977 7.19974 8.39977C7.51794 8.39977 7.82311 8.52615 8.04814 8.75111L11.9997 12.7027L15.9513 8.75111C16.062 8.6365 16.1945 8.54508 16.3409 8.48219C16.4873 8.4193 16.6447 8.3862 16.8041 8.38481C16.9634 8.38343 17.1214 8.41379 17.2689 8.47413C17.4164 8.53446 17.5503 8.62357 17.663 8.73624C17.7757 8.84891 17.8648 8.98289 17.9251 9.13037C17.9855 9.27784 18.0158 9.43586 18.0144 9.59519C18.0131 9.75453 17.98 9.91199 17.9171 10.0584C17.8542 10.2048 17.7628 10.3372 17.6481 10.4479L12.8481 15.2479C12.6231 15.4729 12.3179 15.5993 11.9997 15.5993C11.6815 15.5993 11.3764 15.4729 11.1513 15.2479L6.35134 10.4479C6.12638 10.2229 6 9.91771 6 9.59951C6 9.28131 6.12638 8.97614 6.35134 8.75111Z" fill="#161515"/></svg>
      .screen-2__content.item-mob__content
        ul.screen-2__info
          li.screen-2__point.screen-2__point--include Выезд
          li.screen-2__point.screen-2__point--exclude В капельницу включено большее количество препаратов
      a(href="").btn.btn-primary Заказать
    .screen-2__item.item-mob
      .screen-2__row.item-mob__head
        .screen-2__left
          h3.screen-2__title Пакет “Комфорт”
          .screen-2__price.price
            .screen-2__price--old.price-old 8 000 
            .screen-2__price--new.price-new 6 000 ₽
            .screen-2__price--discount.price-discount -20%
        .screen-2__right
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.35134 8.75111C6.57638 8.52615 6.88155 8.39977 7.19974 8.39977C7.51794 8.39977 7.82311 8.52615 8.04814 8.75111L11.9997 12.7027L15.9513 8.75111C16.062 8.6365 16.1945 8.54508 16.3409 8.48219C16.4873 8.4193 16.6447 8.3862 16.8041 8.38481C16.9634 8.38343 17.1214 8.41379 17.2689 8.47413C17.4164 8.53446 17.5503 8.62357 17.663 8.73624C17.7757 8.84891 17.8648 8.98289 17.9251 9.13037C17.9855 9.27784 18.0158 9.43586 18.0144 9.59519C18.0131 9.75453 17.98 9.91199 17.9171 10.0584C17.8542 10.2048 17.7628 10.3372 17.6481 10.4479L12.8481 15.2479C12.6231 15.4729 12.3179 15.5993 11.9997 15.5993C11.6815 15.5993 11.3764 15.4729 11.1513 15.2479L6.35134 10.4479C6.12638 10.2229 6 9.91771 6 9.59951C6 9.28131 6.12638 8.97614 6.35134 8.75111Z" fill="#161515"/></svg>
      .screen-2__content.item-mob__content
        ul.screen-2__info
          li.screen-2__point.screen-2__point--include Выезд
          li.screen-2__point.screen-2__point--exclude В капельницу включено большее количество препаратов
      a(href="").btn.btn-primary Заказать