.screen-11.container
  h2.title-h2 Карта
  .screen-11__text.description Magna magna amet at tellus elementum est faucibus duis aliquet. Molestie tempus tempor ut duis felis integer adipiscing pretium. Vel eget sed diam aliquet etiam elementum aliquet. Ultrices id ac nibh amet fames justo odio lorem nulla. 
  <iframe class="screen-11__map map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43921.89670111623!2d37.612636823305664!3d55.88171248943939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5374685185733%3A0xfa40dff2ef8cc7c5!2z0KjQtdC90LrRg9GA0YHQutC40Lkg0L_RgC3QtCwgM9CRLCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjywgMTI3MzQ5!5e0!3m2!1sru!2sge!4v1689890326902!5m2!1sru!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
