.screen-7.container
  .anchor#faq
  .screen-7__row
    .screen-7__left
      h2.title-h2 Вопросы-ответы
      .details.item-mob
        .summary.item-mob__head
          h3.summary__text Кто приедет ?
          .summary__icon
        .summary-inner.item-mob__content Here’s some example text that may answer an FAQ or give the user some helpful advice.
      .details.item-mob
        .summary.item-mob__head
          h3.summary__text Кто приедет ?
          .summary__icon
        .summary-inner.item-mob__content Here’s some example text that may answer an FAQ or give the user some helpful advice.
      .details.item-mob
        .summary.item-mob__head
          h3.summary__text Кто приедет ?
          .summary__icon
        .summary-inner.item-mob__content Here’s some example text that may answer an FAQ or give the user some helpful advice.
      .details.item-mob
        .summary.item-mob__head
          h3.summary__text Кто приедет ?
          .summary__icon
        .summary-inner.item-mob__content Here’s some example text that may answer an FAQ or give the user some helpful advice.
    .screen-7__right
      img(src="./assets/img/screen-7.webp", alt="Вопросы-ответы")
