.screen-1.container
  .screen-1__row
    .screen-1__left
      h1.title-h2 Вывод из запоя на дому в Москве
      .screen-1__price от  4500 рублей
      .screen-1__info
        .screen-1__point
          .screen-1__point--icon
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M9.6 19.8C9.6 20.2774 9.41036 20.7352 9.07279 21.0728C8.73523 21.4104 8.27739 21.6 7.8 21.6C7.32261 21.6 6.86477 21.4104 6.52721 21.0728C6.18964 20.7352 6 20.2774 6 19.8C6 19.3226 6.18964 18.8648 6.52721 18.5272C6.86477 18.1896 7.32261 18 7.8 18C8.27739 18 8.73523 18.1896 9.07279 18.5272C9.41036 18.8648 9.6 19.3226 9.6 19.8ZM18 19.8C18 20.2774 17.8104 20.7352 17.4728 21.0728C17.1352 21.4104 16.6774 21.6 16.2 21.6C15.7226 21.6 15.2648 21.4104 14.9272 21.0728C14.5896 20.7352 14.4 20.2774 14.4 19.8C14.4 19.3226 14.5896 18.8648 14.9272 18.5272C15.2648 18.1896 15.7226 18 16.2 18C16.6774 18 17.1352 18.1896 17.4728 18.5272C17.8104 18.8648 18 19.3226 18 19.8Z" fill="#186DE4"/>
            <path d="M3.60039 4.80005C3.28213 4.80005 2.97691 4.92648 2.75186 5.15152C2.52682 5.37656 2.40039 5.68179 2.40039 6.00005V18C2.40039 18.3183 2.52682 18.6235 2.75186 18.8486C2.97691 19.0736 3.28213 19.2 3.60039 19.2H4.86039C4.9981 18.5219 5.36603 17.9122 5.90184 17.4742C6.43764 17.0363 7.10838 16.797 7.80039 16.797C8.4924 16.797 9.16314 17.0363 9.69895 17.4742C10.2348 17.9122 10.6027 18.5219 10.7404 19.2H12.0004C12.3187 19.2 12.6239 19.0736 12.8489 18.8486C13.074 18.6235 13.2004 18.3183 13.2004 18V6.00005C13.2004 5.68179 13.074 5.37656 12.8489 5.15152C12.6239 4.92648 12.3187 4.80005 12.0004 4.80005H3.60039ZM16.8004 8.40005C16.4821 8.40005 16.1769 8.52648 15.9519 8.75152C15.7268 8.97656 15.6004 9.28179 15.6004 9.60005V16.86C15.9865 16.7812 16.3843 16.7791 16.7712 16.8541C17.1581 16.929 17.5264 17.0794 17.8552 17.2967C18.1839 17.514 18.4666 17.7939 18.6871 18.1205C18.9076 18.4471 19.0617 18.8139 19.1404 19.2H20.4004C20.7187 19.2 21.0239 19.0736 21.2489 18.8486C21.474 18.6235 21.6004 18.3183 21.6004 18V12C21.6003 11.6818 21.4739 11.3766 21.2488 11.1516L18.8488 8.75165C18.6238 8.52659 18.3186 8.40012 18.0004 8.40005H16.8004Z" fill="#186DE4"/>
            </svg>
          .screen-1__point--text выезд за 30 минут
        .screen-1__point
          .screen-1__point--icon
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99961 10.8V8.40002C5.99961 6.80873 6.63175 5.2826 7.75697 4.15738C8.88219 3.03217 10.4083 2.40002 11.9996 2.40002C13.5909 2.40002 15.117 3.03217 16.2422 4.15738C17.3675 5.2826 17.9996 6.80873 17.9996 8.40002V10.8C18.6361 10.8 19.2466 11.0529 19.6967 11.503C20.1468 11.9531 20.3996 12.5635 20.3996 13.2V19.2C20.3996 19.8365 20.1468 20.447 19.6967 20.8971C19.2466 21.3472 18.6361 21.6 17.9996 21.6H5.99961C5.36309 21.6 4.75264 21.3472 4.30255 20.8971C3.85247 20.447 3.59961 19.8365 3.59961 19.2V13.2C3.59961 12.5635 3.85247 11.9531 4.30255 11.503C4.75264 11.0529 5.36309 10.8 5.99961 10.8ZM15.5996 8.40002V10.8H8.39961V8.40002C8.39961 7.44525 8.77889 6.52957 9.45402 5.85444C10.1292 5.17931 11.0448 4.80002 11.9996 4.80002C12.9544 4.80002 13.8701 5.17931 14.5452 5.85444C15.2203 6.52957 15.5996 7.44525 15.5996 8.40002Z" fill="#186DE4"/>
            </svg>
          .screen-1__point--text анономно
        .screen-1__point
          .screen-1__point--icon
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0004 21.6C14.5465 21.6 16.9883 20.5886 18.7886 18.7882C20.589 16.9879 21.6004 14.5461 21.6004 12C21.6004 9.45395 20.589 7.01215 18.7886 5.2118C16.9883 3.41145 14.5465 2.40002 12.0004 2.40002C9.45431 2.40002 7.01252 3.41145 5.21217 5.2118C3.41182 7.01215 2.40039 9.45395 2.40039 12C2.40039 14.5461 3.41182 16.9879 5.21217 18.7882C7.01252 20.5886 9.45431 21.6 12.0004 21.6ZM13.2004 7.20002C13.2004 6.88176 13.074 6.57654 12.8489 6.3515C12.6239 6.12645 12.3187 6.00002 12.0004 6.00002C11.6821 6.00002 11.3769 6.12645 11.1519 6.3515C10.9268 6.57654 10.8004 6.88176 10.8004 7.20002V12C10.8005 12.3183 10.9269 12.6234 11.152 12.8484L14.5456 16.2432C14.6571 16.3547 14.7894 16.4432 14.9351 16.5035C15.0808 16.5638 15.2369 16.5949 15.3946 16.5949C15.5523 16.5949 15.7084 16.5638 15.8541 16.5035C15.9997 16.4432 16.1321 16.3547 16.2436 16.2432C16.3551 16.1317 16.4435 15.9994 16.5039 15.8537C16.5642 15.708 16.5953 15.5519 16.5953 15.3942C16.5953 15.2366 16.5642 15.0804 16.5039 14.9347C16.4435 14.7891 16.3551 14.6567 16.2436 14.5452L13.2004 11.5032V7.20002Z" fill="#186DE4"/>
            </svg>
          .screen-1__point--text анономно
      .screen-1__btns
        a(href="").btn.btn-primary.medium Вызов врача
        a(href="").btn.btn-secondary.medium Бесплатная консультация
      img.screen-1__img.screen-1__img--mob(src="./assets/img/screen-1.webp", alt="")
      .screen-1__text Magna magna amet at tellus elementum est faucibus duis aliquet. Molestie tempus tempor ut duis felis integer adipiscing pretium. Vel eget sed diam aliquet etiam elementum aliquet. Ultrices id ac nibh amet fames justo odio lorem nulla. Dictum scelerisque neque in elementum sagittis porttitor nisi sapien dignissim. Tempor ornare quam sit metus nam diam ipsum. Pretium vestibulum nunc in egestas vel nulla elementum. Orci vel ac nam in velit felis. Neque lorem commodo dictum elementum eu.
    .screen-1__right
      img.screen-1__img.screen-1__img--desktop(src="./assets/img/screen-1.webp", alt="")
  .tags
    a(href="#price").tag цены
    a(href="#doctors").tag наши врачи
    a(href="#why").tag почему мы?
    a(href="#faq").tag вопросы-ответы
    a(href="#important").tag важно знать
