.acrticle-preview
  img(src="", alt="").acrticle-preview__img
  .acrticle-preview__tag.cat-tag наркозависимость
  .acrticle-preview__title Malesuada ornare dignissim neque convallis arcu id venenatis leo. 
