.screen-20.container
  .screen-20__block
    h2.screen-20__title Преимущества работы у нас:
    .screen-20__row
      .screen-20__item
        img(src="./assets/img/svg/heart.svg", alt="").screen-20__img
        .screen-20__info
          .screen-20__subtitle Социально важное дело
          .screen-20__text Ежедневно мы помогаем людям побороть свои пороки. Алкоголизм, наркоманию, табакокурение. Более 2000 благодарных матерей, жен, детей и спасенных семей.
      .screen-20__item
        img(src="./assets/img/svg/heart.svg", alt="").screen-20__img
        .screen-20__info
          .screen-20__subtitle Социально важное дело
          .screen-20__text Ежедневно мы помогаем людям побороть свои пороки. Алкоголизм, наркоманию, табакокурение. Более 2000 благодарных матерей, жен, детей и спасенных семей.
      .screen-20__item
        img(src="./assets/img/svg/heart.svg", alt="").screen-20__img
        .screen-20__info
          .screen-20__subtitle Социально важное дело
          .screen-20__text Ежедневно мы помогаем людям побороть свои пороки. Алкоголизм, наркоманию, табакокурение. Более 2000 благодарных матерей, жен, детей и спасенных семей.
      .screen-20__item
        img(src="./assets/img/svg/heart.svg", alt="").screen-20__img
        .screen-20__info
          .screen-20__subtitle Социально важное дело
          .screen-20__text Ежедневно мы помогаем людям побороть свои пороки. Алкоголизм, наркоманию, табакокурение. Более 2000 благодарных матерей, жен, детей и спасенных семей.
  .screen-20__block
    h2.screen-20__title Условия работы:
    .screen-20__row
      .screen-20__item
        img(src="./assets/img/svg/heart.svg", alt="").screen-20__img
        .screen-20__info
          .screen-20__subtitle Социально важное дело
          .screen-20__text Ежедневно мы помогаем людям побороть свои пороки. Алкоголизм, наркоманию, табакокурение. Более 2000 благодарных матерей, жен, детей и спасенных семей.
      .screen-20__item
        img(src="./assets/img/svg/heart.svg", alt="").screen-20__img
        .screen-20__info
          .screen-20__subtitle Социально важное дело
          .screen-20__text Ежедневно мы помогаем людям побороть свои пороки. Алкоголизм, наркоманию, табакокурение. Более 2000 благодарных матерей, жен, детей и спасенных семей.
      .screen-20__item
        img(src="./assets/img/svg/heart.svg", alt="").screen-20__img
        .screen-20__info
          .screen-20__subtitle Социально важное дело
          .screen-20__text Ежедневно мы помогаем людям побороть свои пороки. Алкоголизм, наркоманию, табакокурение. Более 2000 благодарных матерей, жен, детей и спасенных семей.
      .screen-20__item
        img(src="./assets/img/svg/heart.svg", alt="").screen-20__img
        .screen-20__info
          .screen-20__subtitle Социально важное дело
          .screen-20__text Ежедневно мы помогаем людям побороть свои пороки. Алкоголизм, наркоманию, табакокурение. Более 2000 благодарных матерей, жен, детей и спасенных семей.