.screen-19.container
  h1.title-h2 Вакансии
  .screen-19__block
    .screen-19__item
      .screen-19__title Врач психиатр-нарколог на выезде
      .screen-19__point
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.06217 4.86082C7.63755 3.28543 9.77424 2.40039 12.0022 2.40039C14.2301 2.40039 16.3668 3.28543 17.9422 4.86082C19.5176 6.43621 20.4026 8.57289 20.4026 10.8008C20.4026 13.0288 19.5176 15.1654 17.9422 16.7408L12.0022 22.6808L6.06217 16.7408C5.28207 15.9608 4.66325 15.0347 4.24106 14.0156C3.81886 12.9964 3.60156 11.904 3.60156 10.8008C3.60156 9.69764 3.81886 8.60527 4.24106 7.58608C4.66325 6.56689 5.28207 5.64084 6.06217 4.86082ZM12.0022 13.2008C12.6387 13.2008 13.2491 12.948 13.6992 12.4979C14.1493 12.0478 14.4022 11.4373 14.4022 10.8008C14.4022 10.1643 14.1493 9.55385 13.6992 9.10376C13.2491 8.65368 12.6387 8.40082 12.0022 8.40082C11.3656 8.40082 10.7552 8.65368 10.3051 9.10376C9.85503 9.55385 9.60217 10.1643 9.60217 10.8008C9.60217 11.4373 9.85503 12.0478 10.3051 12.4979C10.7552 12.948 11.3656 13.2008 12.0022 13.2008Z" fill="#226ED8"/>
        </svg> Москва и Подмосковье
      .screen-19__point
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.06217 4.86082C7.63755 3.28543 9.77424 2.40039 12.0022 2.40039C14.2301 2.40039 16.3668 3.28543 17.9422 4.86082C19.5176 6.43621 20.4026 8.57289 20.4026 10.8008C20.4026 13.0288 19.5176 15.1654 17.9422 16.7408L12.0022 22.6808L6.06217 16.7408C5.28207 15.9608 4.66325 15.0347 4.24106 14.0156C3.81886 12.9964 3.60156 11.904 3.60156 10.8008C3.60156 9.69764 3.81886 8.60527 4.24106 7.58608C4.66325 6.56689 5.28207 5.64084 6.06217 4.86082ZM12.0022 13.2008C12.6387 13.2008 13.2491 12.948 13.6992 12.4979C14.1493 12.0478 14.4022 11.4373 14.4022 10.8008C14.4022 10.1643 14.1493 9.55385 13.6992 9.10376C13.2491 8.65368 12.6387 8.40082 12.0022 8.40082C11.3656 8.40082 10.7552 8.65368 10.3051 9.10376C9.85503 9.55385 9.60217 10.1643 9.60217 10.8008C9.60217 11.4373 9.85503 12.0478 10.3051 12.4979C10.7552 12.948 11.3656 13.2008 12.0022 13.2008Z" fill="#226ED8"/>
        </svg> График работы: по результатам собеседования
      .screen-19__text Пациентам мы всегда предлагаем высококвалифицированную помощь, а нашим врачам отличное вознаграждение и комфортные условия. Для работы на выезде, как никогда раньше, нам требуется высококлассный специалист такой, как Вы! Будем сотрудничать?
      a(href="").btn.btn-primary Подробнее
    .screen-19__item
      .screen-19__title Врач психиатр-нарколог на выезде
      .screen-19__point
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.06217 4.86082C7.63755 3.28543 9.77424 2.40039 12.0022 2.40039C14.2301 2.40039 16.3668 3.28543 17.9422 4.86082C19.5176 6.43621 20.4026 8.57289 20.4026 10.8008C20.4026 13.0288 19.5176 15.1654 17.9422 16.7408L12.0022 22.6808L6.06217 16.7408C5.28207 15.9608 4.66325 15.0347 4.24106 14.0156C3.81886 12.9964 3.60156 11.904 3.60156 10.8008C3.60156 9.69764 3.81886 8.60527 4.24106 7.58608C4.66325 6.56689 5.28207 5.64084 6.06217 4.86082ZM12.0022 13.2008C12.6387 13.2008 13.2491 12.948 13.6992 12.4979C14.1493 12.0478 14.4022 11.4373 14.4022 10.8008C14.4022 10.1643 14.1493 9.55385 13.6992 9.10376C13.2491 8.65368 12.6387 8.40082 12.0022 8.40082C11.3656 8.40082 10.7552 8.65368 10.3051 9.10376C9.85503 9.55385 9.60217 10.1643 9.60217 10.8008C9.60217 11.4373 9.85503 12.0478 10.3051 12.4979C10.7552 12.948 11.3656 13.2008 12.0022 13.2008Z" fill="#226ED8"/>
        </svg> Москва и Подмосковье
      .screen-19__point
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.06217 4.86082C7.63755 3.28543 9.77424 2.40039 12.0022 2.40039C14.2301 2.40039 16.3668 3.28543 17.9422 4.86082C19.5176 6.43621 20.4026 8.57289 20.4026 10.8008C20.4026 13.0288 19.5176 15.1654 17.9422 16.7408L12.0022 22.6808L6.06217 16.7408C5.28207 15.9608 4.66325 15.0347 4.24106 14.0156C3.81886 12.9964 3.60156 11.904 3.60156 10.8008C3.60156 9.69764 3.81886 8.60527 4.24106 7.58608C4.66325 6.56689 5.28207 5.64084 6.06217 4.86082ZM12.0022 13.2008C12.6387 13.2008 13.2491 12.948 13.6992 12.4979C14.1493 12.0478 14.4022 11.4373 14.4022 10.8008C14.4022 10.1643 14.1493 9.55385 13.6992 9.10376C13.2491 8.65368 12.6387 8.40082 12.0022 8.40082C11.3656 8.40082 10.7552 8.65368 10.3051 9.10376C9.85503 9.55385 9.60217 10.1643 9.60217 10.8008C9.60217 11.4373 9.85503 12.0478 10.3051 12.4979C10.7552 12.948 11.3656 13.2008 12.0022 13.2008Z" fill="#226ED8"/>
        </svg> График работы: по результатам собеседования
      .screen-19__text Пациентам мы всегда предлагаем высококвалифицированную помощь, а нашим врачам отличное вознаграждение и комфортные условия. Для работы на выезде, как никогда раньше, нам требуется высококлассный специалист такой, как Вы! Будем сотрудничать?
      a(href="").btn.btn-primary Подробнее
