.screen-21.container
  h1.title-h2 Контакты медицинского центра «АлкоСпас» в Москве
  .screen-21__row
    .screen-21__col-1
      a(href="").screen-21__point.border-block
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
        <path d="M2.89844 3.60002C2.89844 3.28176 3.02487 2.97654 3.24991 2.7515C3.47495 2.52645 3.78018 2.40002 4.09844 2.40002H6.68204C6.96608 2.40016 7.24088 2.50104 7.45753 2.68474C7.67419 2.86843 7.81865 3.12302 7.86524 3.40322L8.75324 8.72522C8.79567 8.97869 8.75561 9.23907 8.63895 9.46806C8.5223 9.69705 8.33522 9.88254 8.10524 9.99723L6.24764 10.9248C6.91377 12.5756 7.90584 14.0752 9.16457 15.3339C10.4233 16.5926 11.9229 17.5847 13.5736 18.2508L14.5024 16.3932C14.6171 16.1635 14.8024 15.9765 15.0311 15.8599C15.2598 15.7433 15.52 15.7031 15.7732 15.7452L21.0952 16.6332C21.3754 16.6798 21.63 16.8243 21.8137 17.0409C21.9974 17.2576 22.0983 17.5324 22.0984 17.8164V20.4C22.0984 20.7183 21.972 21.0235 21.747 21.2486C21.5219 21.4736 21.2167 21.6 20.8984 21.6H18.4984C9.88244 21.6 2.89844 14.616 2.89844 6.00002V3.60002Z" fill="#226ED8"/>
        </svg> 8 (495) 171-02-16
      a(href="").screen-21__point.border-block
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
        <path d="M2.90625 7.06085L12.5026 11.8584L22.099 7.06085C22.0635 6.44938 21.7956 5.87463 21.35 5.45432C20.9045 5.03401 20.3151 4.79994 19.7026 4.80005H5.30265C4.69015 4.79994 4.10079 5.03401 3.65526 5.45432C3.20974 5.87463 2.94177 6.44938 2.90625 7.06085Z" fill="#226ED8"/>
        <path d="M22.0984 9.74158L12.4984 14.5416L2.89844 9.74158V16.8C2.89844 17.4365 3.15129 18.0469 3.60138 18.497C4.05147 18.9471 4.66192 19.2 5.29844 19.2H19.6984C20.335 19.2 20.9454 18.9471 21.3955 18.497C21.8456 18.0469 22.0984 17.4365 22.0984 16.8V9.74158Z" fill="#226ED8"/></svg> info@alkospas.ru
      .screen-21__point.border-block
        .socials
          a(href="").socials__link
            img(src="./assets/img/svg/vk.svg", alt="")
          a(href="").socials__link
            img(src="./assets/img/svg/facebook.svg", alt="")
          a(href="").socials__link
            img(src="./assets/img/svg/ok.svg", alt="")
    .screen-21__col-2.border-block
      .screen-21__subtitle
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9984 21.6C14.5445 21.6 16.9863 20.5886 18.7867 18.7882C20.587 16.9879 21.5984 14.5461 21.5984 12C21.5984 9.45395 20.587 7.01215 18.7867 5.2118C16.9863 3.41145 14.5445 2.40002 11.9984 2.40002C9.45236 2.40002 7.01056 3.41145 5.21021 5.2118C3.40986 7.01215 2.39844 9.45395 2.39844 12C2.39844 14.5461 3.40986 16.9879 5.21021 18.7882C7.01056 20.5886 9.45236 21.6 11.9984 21.6ZM13.1984 7.20002C13.1984 6.88176 13.072 6.57654 12.847 6.3515C12.6219 6.12645 12.3167 6.00002 11.9984 6.00002C11.6802 6.00002 11.375 6.12645 11.1499 6.3515C10.9249 6.57654 10.7984 6.88176 10.7984 7.20002V12C10.7985 12.3183 10.925 12.6234 11.15 12.8484L14.5436 16.2432C14.6551 16.3547 14.7875 16.4432 14.9332 16.5035C15.0788 16.5638 15.235 16.5949 15.3926 16.5949C15.5503 16.5949 15.7064 16.5638 15.8521 16.5035C15.9978 16.4432 16.1301 16.3547 16.2416 16.2432C16.3531 16.1317 16.4416 15.9994 16.5019 15.8537C16.5622 15.708 16.5933 15.5519 16.5933 15.3942C16.5933 15.2366 16.5622 15.0804 16.5019 14.9347C16.4416 14.7891 16.3531 14.6567 16.2416 14.5452L13.1984 11.5032V7.20002Z" fill="#226ED8"/>
        </svg> График работы
      .screen-21__text
        p Выездная служба : 24/7
        p Тел. поддержки клиентов : 24/7
        p Стационар: 24/7
        p Амбулаторный центр: с 9:00 до 21:00
    .screen-21__col-3.border-block
      .screen-21__subtitle
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.79688 4.80002C4.79688 4.1635 5.04973 3.55306 5.49982 3.10297C5.94991 2.65288 6.56036 2.40002 7.19687 2.40002H12.7001C13.3365 2.40016 13.9469 2.65311 14.3969 3.10322L18.4937 7.20002C18.9438 7.65001 19.1967 8.26036 19.1969 8.89682V19.2C19.1969 19.8365 18.944 20.447 18.4939 20.8971C18.0438 21.3472 17.4334 21.6 16.7969 21.6H7.19687C6.56036 21.6 5.94991 21.3472 5.49982 20.8971C5.04973 20.447 4.79688 19.8365 4.79688 19.2V4.80002ZM7.19687 12C7.19687 11.6818 7.3233 11.3765 7.54835 11.1515C7.77339 10.9265 8.07861 10.8 8.39687 10.8H15.5969C15.9151 10.8 16.2204 10.9265 16.4454 11.1515C16.6704 11.3765 16.7969 11.6818 16.7969 12C16.7969 12.3183 16.6704 12.6235 16.4454 12.8486C16.2204 13.0736 15.9151 13.2 15.5969 13.2H8.39687C8.07861 13.2 7.77339 13.0736 7.54835 12.8486C7.3233 12.6235 7.19687 12.3183 7.19687 12ZM8.39687 15.6C8.07861 15.6 7.77339 15.7265 7.54835 15.9515C7.3233 16.1765 7.19687 16.4818 7.19687 16.8C7.19687 17.1183 7.3233 17.4235 7.54835 17.6486C7.77339 17.8736 8.07861 18 8.39687 18H15.5969C15.9151 18 16.2204 17.8736 16.4454 17.6486C16.6704 17.4235 16.7969 17.1183 16.7969 16.8C16.7969 16.4818 16.6704 16.1765 16.4454 15.9515C16.2204 15.7265 15.9151 15.6 15.5969 15.6H8.39687Z" fill="#226ED8"/>
        </svg> Реквизиты
      .screen-21__text
        p ООО «АлкоСпас» Государственная лицензия на осуществление медицинской деятельности № Л041-01137-77/00367887 от 22 августа 2019 ИНН 7713703136, ОГРН1107746192510
